*,html,body{
    margin:0;
    padding:0;
}

body{
    background-image: url("../images/KaibabAZ.jpg");  
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-size:100% 100vh;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

header{
    background-color: rgba(24, 25, 29, 0.75);
    height: 64px; 
    line-height:64px; 
    /*height is height of header*/
    /*line height *aligns* logo at center */
}

header nav{
    text-align:center;
    margin: 6px; /*6px*/
    margin-top: 0px;
}

header nav ul li a{
    /*padding: top right bottom left*/
    padding: 0 20px 0 20px; /*0 24px 0 24px*/
    font-size: 22px; 
    color:white;
    text-decoration:none;
    transition: all 0.3s ease-in;
}

header nav ul li a:hover{
    text-decoration:none;
    color:white;
    font-size: 28px; 
}

ul{
    list-style:none;
    /*removes bullet points*/
}

ul li{
    display:inline-block;
    /*puts all navbar items in one line*/
}

.title{
    font-weight: bold;
    font-family:'Noto Sans SC', sans-serif;
    font-size: 1.25em; /*36px*/
    letter-spacing: 0.35em; /*12 px*/
    margin-top: 1%;
    margin-bottom: 1.75%;
    color:white;
    text-align:center;
}

.projects{
    margin-left: 3rem;
    margin-right: 3rem;
}

.card-deck{
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card-deck .card {
    flex: 1 0 0%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    background-color:rgba(24, 25, 29, 0.45);
    color:white;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    font-family: 'Noto Sans SC', sans-serif;
}

.card-title {
    margin-bottom: .75rem;
    font-size: 1.24rem;
}

.card-text{
    font-size: 16px;
    padding-bottom: 2%;
}

.built{
    color: #d8d8d8;
}

.links{
    text-decoration: none;
}







